<div class="grid-container">

<div class="teams">
<p>{{{team1.name}}}</p>
<img src={{{team1.image}}} alt={{{team1.name}}}>
</div>

<div class="teams">
<p> VS </p>
</div>

<div class="teams">
<p>{{{team2.name}}} </p>
<img src={{{team2.image}}} alt={{{team2.name}}}>
</div>

</div>
